@page
@model ProductsModel

@{
    ViewData["Title"] = "Каталог";
}

<div class="product-grid">
    @foreach (var product in Model.Products)
    {
        <div class="product-card">
            <a href="/Cataloge/Cards/@product.Link"><img src="@product.ImageUrl" alt="@product.Name" class="product-image" /></a>
            <h3>@product.Name</h3>
            <p>@product.Count шт.</p>
            <p>@product.Price руб.</p>

            <form method="post" asp-page-handler="AddToCart">
                <input type="hidden" name="productId" value="@product.Id" />
                <button type="submit" class="add-to-cart-btn">Добавить в корзину</button>
            </form>

            <form method="post" asp-page-handler="AddToWishlist" style="margin-top: 10px;">
                <input type="hidden" name="productId" value="@product.Id" />
                <button type="submit" class="add-to-wishlist-btn">Добавить в понравившееся</button>
            </form>
        </div>
    }
</div>

<style>
    .product-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .product-card {
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 20%;
        padding: 15px;
        text-align: center;
        background-color: #f9f9f9;
    }

    .product-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
        cursor: pointer;
    }

    .price {
        font-size: 1.2em;
        color: #333;
        margin: 10px 0;
    }

    .add-to-cart-btn, .add-to-wishlist-btn {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
    }

    .add-to-wishlist-btn {
        background-color: #007bff;
    }

    .add-to-cart-btn:hover {
        background-color: #218838;
    }

    .add-to-wishlist-btn:hover {
        background-color: #0056b3;
    }
</style>
